<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title> Dettagli chef </title>
        <link rel="stylesheet" href="/css/details.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap" rel="stylesheet">
        <link rel="icon" type="image/png" href="/images/favicons/management_favicon.png">
    </head>
    
	<body>
		<header>
			<h1>Dettagli chef</h1>
		</header>

		<table>
			<tr>
				<th>Nome</th>
				<th>Cognome</th>
				<th>Data di nascità</th>
				<th>Immagine profilo</th>
				<th>lista delle ricette</th>
			</tr>
			<tr>
				<td th:text="${chef.name}">Nome</td>
				<td th:text="${chef.surname}">Cognome</td>
				<td th:text="${chef.data}">Data</td>
				<td>
					<img th:src="${chef.imageFileName}" alt="Profile image of chef" style="width:100px; height:auto;">
				</td>
			 	<td >
			 		<ul>
			 			<li th:each="recipe : ${chef.recipes}">
			 				<span th:text="${recipe.name}"></span>
			 			</li>
			 		</ul>
				</td>

			</tr>
		</table>
		
		<div id="back_wrapper">
			<a th:href="@{/admin/chef_management}">
				<button class="butt" id="back">Back </button>
			</a>
			 <a th:href="@{/success}">
				<button class="butt" id="home">Home </button>
			</a>
		</div>
	</body>
</html>