<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Modifica ricetta</title>
    <link rel="stylesheet" href="/css/create_recipe.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="/images/favicons/management_favicon.png">
</head>

<body>

<div id="wrapper">
    <div id="img_wrapper"></div>
    <div id="form_wrapper">
        <h1>Modifica la ricetta</h1>
        <div id="form" style="text-align: center; color: white;">
            <form id="sectionForm" th:action="@{'/admin/recipe_management/' + ${recipe.id}}" method="POST" th:object="${recipe}" enctype="multipart/form-data">
                <div id="error" th:if="${#fields.hasGlobalErrors()}">
                    <p th:each="err : ${#fields.globalErrors()}" th:text="${err}">errore globale</p>
                </div>

                <span>Nome:</span>
                <div class="input_form">
                    <span>
                        <input name="name" type="text" placeholder="name" th:field="*{name}" required/>
                    </span>
                    <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
                </div>

                <span>Descrizione:</span>
                <div class="input_form">
                    <span>
                        <input name="description" type="text" placeholder="description" th:field="*{description}" required/>
                    </span>
                    <div th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>
                </div>

                <span>Carica nuove immagini:</span>
                <div class="input_form">
                    <label for="files"></label>
                    <input type="file" name="file" id="files" multiple />
                </div>

                <fieldset>
                    <legend>Scegli gli ingredienti</legend>
                    <div class="checkmark" th:each="ingredient : ${ingredients}">
                        <input type="checkbox" id="ingredient_${ingredient.id}" th:field="*{ingredients}" name="ingredients" th:value="${ingredient.id}">
                        <label for="ingredient_${ingredient.id}" th:text="${ingredient.name} + ' ' + '(' + ${ingredient.quantity} + ')'">name ingredient</label>
                    </div>
                    <div th:if="${#fields.hasErrors('ingredients')}" th:errors="*{ingredients}"></div>
                </fieldset>

                <input type="hidden" th:field="*{chef}" th:value="${recipe.chef}" />
                <div th:if="${#fields.hasErrors('chef')}" th:errors="*{chef}"></div>

                <script src="/js/checkbox.js"></script>

                <div id="submit_wrapper">
                    <span>
                        <button class="butt" id="submit" type="submit">CONFERMA</button>
                    </span>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="back_wrapper">
    <a th:href="@{/admin/recipe_management}">
        <button class="butt" id="back">Back</button>
    </a>
    <a th:href="@{/success}">
        <button class="butt" id="home">Home</button>
    </a>
</div>

</body>
</html>
